body{
  background-color: #FFEBCD;
  font-family: Raleway;
  Text-align: right;
  border-style: solid;
  border-width: 50px;
  border-color:#FFEBCD;
  color: #2F4F4F;
}
H1{
  text-align: center;
  textcolor: #708090
}
h2{
  font-family: Raleway;
  text-align: left;
  color: #696969
}
h3{
  font-family: Raleway;
  text-align: left;
  color: #696969
}
p{
    Text-align: left;
    color: #696969
  }


.CV{
  text-align: left;
  list-style: inside;
}

.menu-item{
  display: inline-block;
  color: blue;
}

a:visited{
  display: inline-block;
  color: blue;
}

.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  color:#696969
}

.contact{
text-align: left;
}

@media only screen and (max-width: 768px){
  .grid-container1{
    display: grid;
    grid-template-columns: auto;
    max-width: 73%;
    margin: auto;

}
Div > img{
  max-width: 100%
  }
}


@media only screen and (min-width: 768px){
  .grid-container1{
    display: grid;
    grid-template-columns: auto;
    max-width: 59%;
    margin: auto;
  }
  Div > img{
    max-width: 100%
  }
}
