@font-face {
  font-family: 'Quicksand';
  src:url('../fonts/Quicksand-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face{
  font-family: 'Quicksand';
  src:url('../fonts/Quckssand-bold.ttf') format('truetype');
  fontweight: 700;
}
